html,
body {
  font-family: var(--font-base);
  color: #111827;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

/* Global Variables */
:root {
  --font-base: "Karla", sans-serif;
  --bg-color-primary: #212121;
  --bg-color-secondary: #272727;
  --color-text-primary: #ffffff;
  --color-base: #abf600;
  --input-bg-color: #404040;
  --main-color: linear-gradient(90deg, #bec059, #4fadbe);
  --delete-color: #ef4444;
  --edit-color: #4fadbe;
  --permissions-color: #3c4fa4;
}

/* TailwindCss */
@import "tailwindcss";

@layer components {
  .btn {
    @apply inline-flex items-center justify-center px-4 py-2 rounded-full border text-black font-bold pb-4;
    background: var(--color-base);
    border-color: var(--black-color);
  }

  .btn__shadow {
    box-shadow: inset 0 -6px 0 rgba(0, 0, 0, 0.55);
  }

  .btn:hover {
    filter: brightness(0.95);
  }

  .hover-style_v2 {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    border: 1px solid #1c1e21;
    border-radius: 50px;
    color: #1c1e21;
    line-height: 16px;
    overflow: hidden;
    /* padding: 13px 20px; */
    position: relative;
    text-align: center;
    transition:
      color 0.33s linear 0.5s,
      border-color ease-out 0.5s;
    background-color: #fff;
    white-space: pre;
    z-index: 1;
  }

  .hover-style_v2--small {
    padding: 10px;
  }

  .hover-style_v2--normal {
    padding: 13px 20px;
  }

  .hover-style_v2:hover {
    transition-delay: 0.5s;
  }

  .hover-style_v2:hover:after {
    transform: scale(1.47) translateY(0);
  }

  .hover-style_v2:after {
    background-color: var(--color-base);
    border-radius: 100%;
    content: "";
    height: 167px;
    /* min-width: 167px; */
    position: absolute;
    top: 0;
    transform: scale(1) translateY(67px);
    transition: transform 1s cubic-bezier(0.66, 0, 0.34, 1);
    width: 100%;
    z-index: -1;
  }
}

/* Modal Buttons */
.modal__btn {
  border: none;
  padding: 0.3rem 0.6rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: 600;
  margin: 0.5rem;
  color: white;
}
.modal__btn--edit {
  background: var(--edit-color);
  border-radius: 0.5rem;
}
.modal__btn--cancel {
  background: var(--delete-color);
  border-radius: 0.5rem;
}
.modal__btn--permissions {
  background-color: var(--permissions-color);
}
.modal__btn--save {
}
.modal__add-btn {
  background: linear-gradient(90deg, #59c080, #4fadbe);
  color: white;
  border: none;
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  cursor: pointer;
}

/* Vue Toastification Overrides */
.Vue-Toastification__toast--info {
  background-color: var(--color-base) !important;
  color: #000 !important;
}

.Vue-Toastification__toast--info .Vue-Toastification__toast-body {
  color: #000 !important;
}
