html,
body {
  font-family: var(--font-base);
  color: #111827;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

/* Global Variables */
:root {
  --font-base: "Karla", sans-serif;
  --color-base: #abf600;
  --color-base-secondary: #8bc404;
  --bg-color-primary: #212121;
  --bg-color-secondary: #272727;
  --bg-color-third: #2c2c2c;
  --color-text-primary: #ffffff;
  --color-text-secondary: #d6d6d6;
  --input-bg-color: #404040;
  --main-color: linear-gradient(90deg, #bec059, #4fadbe);
  --delete-color: #ef4444;
  --edit-color: #4fadbe;
  --permissions-color: #3c4fa4;
}

/* TailwindCss */
@import "tailwindcss";

@layer components {
  .btn {
    @apply inline-flex items-center justify-center md:pb-4 pb-2 md:px-4 px-2 md:py-2 py-2 rounded-full border text-black font-bold transition; 
    background: var(--color-base);
    border-color: var(--black-color);
  }

  .btn:active {
    @apply scale-95 opacity-90;
  }

  .btn:hover {
    filter: brightness(0.95);
    box-shadow: inset 0 -6px 0 rgba(0, 0, 0, 0.55);
  }

  .btn__base_2 {
    @apply flex items-center justify-start gap-3  py-6 rounded-r-xl  text-white text-xl font-bold ; 
    background: var(--input-bg-color);
    border-color: var(--bg-color-primary);
  }

  /* MAKE A REUSABLE COMPONENT WITH DINAMIC CLASSES */
  .btn__base_3 {
    @apply inline-flex w-fit max-w-full items-center justify-start gap-1 p-[0.4rem] rounded-xl  text-white text-xs font-bold; 
    background: var(--input-bg-color);
    border-color: var(--bg-color-primary);
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.75);
  }

  .btn:active {
    @apply scale-95 opacity-90;
  }

  .btn__shadow {
    box-shadow: inset 0 -6px 0 rgba(0, 0, 0, 0.55);
  }

  .btn__shadow:hover {
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.75);
  }

  .wave-style {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    border: 1px solid #1c1e21;
    border-radius: 50px;
    color: #1c1e21;
    line-height: 16px;
    overflow: hidden;
    position: relative;
    text-align: center;
    transition:
      color 0.33s linear 0.5s,
      border-color ease-out 0.5s;
    background-color: #fff;
    white-space: pre;
    z-index: 1;
  }

  .wave-style--small {
    padding: 10px;
  }

  .wave-style--normal {
    padding: 13px 20px;
  }

  .wave-style:hover {
    transition-delay: 0.5s;
  }

  .wave-style:hover:after {
    transform: scale(1.47) translateY(0);
  }

  .wave-style:after {
    background-color: var(--color-base);
    border-radius: 100%;
    content: "";
    height: 167px;
    position: absolute;
    top: 0;
    transform: scale(1) translateY(67px);
    transition: transform 1s cubic-bezier(0.66, 0, 0.34, 1);
    width: 100%;
    z-index: -1;
  }
}

@theme {
  --color-dark: #212121; 
}

/* Modal Buttons */
.modal__btn {
  border: none;
  padding: 0.3rem 0.6rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: 600;
  margin: 0.5rem;
  color: white;
}
.modal__btn--edit {
  background: var(--edit-color);
  border-radius: 0.5rem;
}
.modal__btn--cancel {
  background: var(--delete-color);
  border-radius: 0.5rem;
}
.modal__btn--permissions {
  background-color: var(--permissions-color);
}
.modal__btn--save {
}
.modal__add-btn {
  background: linear-gradient(90deg, #59c080, #4fadbe);
  color: white;
  border: none;
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  cursor: pointer;
}

/* Vue Toastification Overrides */
.Vue-Toastification__toast--success  {
  background-color: var(--color-base) !important;
  color: #000 !important;
}

.Vue-Toastification__toast--info {
  background-color: var(--color-base) !important;
  color: #000 !important;
}

.Vue-Toastification__toast--info .Vue-Toastification__toast-body {
  color: #000 !important;
}
